.selected {
    color: white !important;
    background: rgb(38, 46, 80) !important;
}

.quiz-container {
    height: 380px;
    margin-top: 40px;
    background-color: rgb(252, 252, 252);
    padding-top: 30px;
    border-top: 2px solid rgb(241, 241, 241);
    border-bottom: 2px solid rgb(231, 229, 229);
    text-align: center;
}

.options {
    margin: 10px auto;
    width: 300px;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    background-color: white;
    color: black;
    font-weight: 500;
    font-size: 15px;
    border: 1px solid rgb(230, 226, 226);
}

.optionss {
    margin: 10px auto;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    background-color: white;
    color: black;
    font-weight: 500;
    font-size: 15px;
    border: 1px solid rgb(230, 226, 226);
}


.options:hover {
    border: 1px solid rgb(38, 46, 80);
}



ul li {
    margin: 5px;
}

.ui-inverted-button {
    background-color: aliceblue;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid rgb(38, 46, 80);
}

span {
    font-size: 15px;
}

h2 {
    padding-top: 10px;
}