.light-mode {
    background-color: #fff;
    color: #333;
    transition: background-color 0.15s ease-out;
  }

  .dark-mode {
      background-color: #1F1E2D;
      color: #fff;
      transition: background-color 0.15s ease-out;
  }

  .light-nav {
    background-color: #fff;
  }
  
  .dark-nav {
    background-color: #1B1E24;
  }
  
  main {
    padding: 0.5em;
    margin: 0 auto;
    max-width: 600px;
    font-size: 1.2rem;
    line-height: 1.1;
    height: 90vh;
  }
  
  h1 {
    margin: 0;
  }
  
  .toggle {
    position: relative;
    padding: 0 4px;
    display: flex;
    align-items: center;
    margin-left: 5px;
  }

  .toggleTheme {
    display: flex;
    margin: auto;
  }
  
  .topbar {
    padding-top: 70px;
  }

  input[type="checkbox"].checkbox {
    width: 30px;
    height: 10px;
    background: #555;
    position: relative;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    vertical-align: 2px;
    outline: none;
  }
  
  input[type="checkbox"].checkbox:checked + label {
    left: 18px;
  }
  
  input[type="checkbox"].checkbox:focus-visible {
    outline: solid 2px white;
  }
  
  input[type="checkbox"].checkbox + label {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
    position: absolute;
    left: 2px;
    background: #fff;
    opacity: 0.9;
    background-color: rgb(30, 78, 141);
  }
  
  .toggle-container {
    display: flex;
    margin: 0 auto;
  }
  
  .toggle-container > span {
    font-size: 1.2em;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-top: 4px;
    margin-right: 2px;
  }
  
  .toggle-container > span:last-child {
    margin-top: 5px;
  }
  

  .product-container {
    margin: 0 auto;
    width: 1000px;
    padding: 10px;
    display: flex;
  }

  .product-box {
    margin: 15px;
    width: 320px;
    -webkit-box-shadow: 0px 0px 17px -9px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 0px 17px -9px rgba(0,0,0,0.20);
    box-shadow: 0px 0px 17px -9px rgba(0,0,0,0.20);
  }

  #product-pic {
    width: 170px;
    margin: auto;
    padding-top: 20px;
  }

  #align-text {
    text-align: center;
    color: #333;
  }

  #text-col-strict {
    color: #333;
  }