.why-container {
    display: flex;
    padding: 0 0 40px 0;
}

.why-box {
    flex: 1;
    border-top: 2px solid rgb(241, 241, 241);
    border-bottom: 2px solid rgb(231, 229, 229);
    text-align: center;
}

.why-box h3 {
    text-align: center;
    padding-top: 15px;
}

.whyOne {
    width: 250px;
    padding: 5px 0 10px 20px;

}

li {
    font-size: 16px;
    float: left;
}

.whyThree {
    width: 110px;
}

h6 {
    padding-bottom: 5px;
}